@model  ChangePasswordUserViewModel

<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Change Password for User: @Model.UserName</h3>
                <br>
            </div>
            <form class="form-horizontal" asp-controller="UserManagement" asp-action="ChangePasswordUserPostView" method="Post">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input asp-for="UserId" type="hidden" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="UserName"></label>
                        <div class="col-md-3">
                            <input asp-for="UserName" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="NewPassword"></label>
                        <div class="col-md-3">
                            <input asp-for="NewPassword" class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="ConfirmPassword"></label>
                        <div class="col-md-3">
                            <input asp-for="ConfirmPassword" class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-4">
                            <a asp-controller="UserManagement" asp-action="ListActiveUsers" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}