@model  ChangePasswordViewModel

<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Create User</h3>
                <br>
            </div>
            <form class="form-horizontal" asp-controller="UserManagement" asp-action="ChangePasswordView" method="Post">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="CurrentPassword"></label>
                        <div class="col-md-3">
                            <input asp-for="CurrentPassword" class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="NewPassword"></label>
                        <div class="col-md-3">
                            <input asp-for="NewPassword" class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="ConfirmPassword"></label>
                        <div class="col-md-3">
                            <input asp-for="ConfirmPassword" class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>