@using Itsomax.Module.UserManagement.ViewModels
@model  ChangePasswordViewModel



<div class="container-fluid">
    <br />
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Change your password</h4>
            </div>
            <form class="form-horizontal p-t-20 justify-content-center" asp-controller="UserManagement" asp-action="ChangePasswordPostView" method="Post">
                <div class="form-body">
                    <div class="form-group row align-items-center">
                        <label for="currentPassword" class="col-sm-2 text-right control-label" asp-for="CurrentPassword"></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-lock"></i></div>
                                <input id="currentpassword" asp-for="CurrentPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="newpassword" class="col-sm-2 text-right control-label" asp-for="NewPassword"></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-lock"></i></div>
                                <input id="newpassword" asp-for="NewPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="confirmpassword" class="col-sm-2 text-right control-label" asp-for="ConfirmPassword"></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-lock"></i></div>
                                <input id="confirmpassword" asp-for="ConfirmPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 ml-md-auto">
                            <a asp-controller="Admin" asp-action="WelcomePage" class="btn btn-info waves-effect waves-light">Cancel</a>
                            <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}