@model CreateRoleViewModel

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h2 class="m-b-0 text-themecolor">Create Role</h2>
                </div>
                <div class="card-body">
                    <form autocomplete="off" class="form-horizontal p-t-20 justify-content-center" asp-controller="RoleManagement" asp-action="CreateRolePostView" method="Post">
                        <div class="form-body">
                            <h3 class="box-title">Role Details</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row align-items-center">
                                <label class="col-sm-2 text-right control-label" asp-for="RoleName"></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="ti-user"></i>
                                            </span>
                                        </div>
                                        <input asp-for="RoleName" class="form-control" id="rolename2" placeholder="Role Name" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <span asp-validation-for="RoleName" class="text-danger"></span>
                                </div>
                            </div>
                            <h3 class="box-title">Assign Modules</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row align-items-center">
                                <div class="col-md-10 ml-md-auto">
                                    @foreach (var item in Model.ModuleList)
                                    {
                                        <div class="checkbox checkbox-info">
                                            <input id="@item.Value" type="checkbox" name="SelectedModules" value="@item.Value">
                                            <label for="@item.Value">@item.Text</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <h3 class="box-title">Save new role</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row">
                                <div class="col-md-10 ml-md-auto">
                                    <button type="submit" class="btn btn-info waves-effect waves-light"><i class="fa fa-check"></i> Save</button>
                                    <a asp-controller="RoleManagement" asp-action="ListRoles" class="btn btn-info waves-effect waves-light">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}